<template>
  <section class="container">
    <div>

      <h2 class="title typewriter">
        aaron taylor
      </h2>
      <h3 class="subtitle">
         _ developer _
      </h3>
      <div class="links">

        <a
          href="https://www.linkedin.com/in/aaronaat"
          target="_blank" class="button--green">

          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Linkedin_icon.svg" class="in" />
          LinkedIn</a>

        <a
          href="https://gitlab.com/aar0n"
          target="_blank"
          class="button--grey">

          <img src="https://about.gitlab.com/images/press/logo/svg/gitlab-icon-rgb.svg" class="git" />
          GitLab</a>

      </div>
    </div>
  </section>
</template>

<script>


export default {
  components: {

  }
}
</script>

<style>

.in {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin: 0 0 2.5px;
}
.git {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin: 0 0 2px;
}
.container {
  font-size: 19px;
  min-height: 100vh;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  text-align: center;
  margin-top: 6px;

}

.title {
  font-size: 55px;
  color: #8390aa;
}

.typewriter {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	  animation: typing 2s steps(16, end), blink 1.2s step-end infinite;
    white-space: nowrap;
    border-right: 3px solid grey;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    } to {
        width: 88%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: grey;
    }
}

.subtitle {
  font-weight: bold;
  font-size: 29px;
  color: #82a98a;
  letter-spacing: 2px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
